<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bht.fpa.mail.s780486.fsnavigator.commands.category"
            name="FS Navigation">
      </category>
      <command
            categoryId="de.bht.fpa.mail.s780486.fsnavigator.commands.category"
            id="de.bht.fpa.mail.s780486.fsnavigator.commands.setBaseDirectoryDialog"
            name="Set base directory">
      </command>
      <command
            categoryId="de.bht.fpa.mail.s780486.fsnavigator.commands.category"
            description="Creates the base directory history dialog"
            id="de.bht.fpa.mail.s780486.fsnavigator.BaseDirectoryHistoryCommand"
            name="History">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s780486.fsnavigator.handlers.SetDirectoryHandler"
            commandId="de.bht.fpa.mail.s780486.fsnavigator.commands.setBaseDirectoryDialog">
      </handler>
      <handler
            class="de.bht.fpa.mail.s780486.fsnavigator.handlers.BaseDirectoryHistoryHandler"
            commandId="de.bht.fpa.mail.s780486.fsnavigator.BaseDirectoryHistoryCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.bht.fpa.mail.s780486.fsnavigator.commands.setBaseDirectoryDialog"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s780486.fsnavigator.menus.sampleMenu"
               label="File"
               mnemonic="M">
            <command
                  commandId="de.bht.fpa.mail.s780486.fsnavigator.commands.setBaseDirectoryDialog"
                  id="de.bht.fpa.mail.s780486.fsnavigator.menus.sampleCommand"
                  label="Set Base Directory"
                  mnemonic="S">
            </command>
            <command
                  commandId="de.bht.fpa.mail.s780486.fsnavigator.BaseDirectoryHistoryCommand"
                  label="History"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.bht.fpa.mail.s780486.fsnavigator.toolbars.sampleToolbar">
            <command
                  commandId="de.bht.fpa.mail.s780486.fsnavigator.commands.setBaseDirectoryDialog"
                  icon="icons/sample.gif"
                  id="de.bht.fpa.mail.s780486.fsnavigator.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
            <command
                  commandId="de.bht.fpa.mail.s780486.fsnavigator.BaseDirectoryHistoryCommand"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s780486.fsnavigator.views.NavigationView"
            id="de.bht.fpa.mail.s780486.fsnavigator.NavigationView"
            name="Navigation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="de.bht.fpa.mail.s780486.fsnavigator.NavigationView"
               closeable="false"
               minimized="false"
               relationship="stack"
               relative="de.bht.fpa.mail.s780486.main.perspective.left">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
