<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="de.bht.fpa.mail.s780486.messageview.messagedetails"
               minimized="false"
               relationship="stack"
               relative="de.bht.fpa.mail.s780486.main.perspective.bottom">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s000000.common.mail.messagedetails.MessageView"
            id="de.bht.fpa.mail.s780486.messageview.messagedetails"
            name="Details"
            restorable="true">
      </view>
   </extension>

</plugin>
