<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s780486.filter.handlers.FilterDialogHandler"
            commandId="de.bht.fpa.mail.s780486.filter.handlers.FilterDialogCommand">
      </handler>
      <handler
            class="de.bht.fpa.mail.s780486.filter.handlers.ClearFilterHandler"
            commandId="de.bht.fpa.mail.s780486.filter.ClearFilterCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.bht.fpa.mail.s780486.filter.handlers.FilterDialogCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s780486.filter.menus.sampleMenu"
               label="Filter"
               mnemonic="M">
            <command
                  commandId="de.bht.fpa.mail.s780486.filter.handlers.FilterDialogCommand"
                  id="de.bht.fpa.mail.s780486.filter.menus.sampleCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="de.bht.fpa.mail.s780486.filter.ClearFilterCommand"
                  label="Clear Filter..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.bht.fpa.mail.s780486.filter.toolbars.sampleToolbar">
            <command
                  commandId="de.bht.fpa.mail.s780486.filter.handlers.FilterDialogCommand"
                  icon="icons/sample.gif"
                  id="de.bht.fpa.mail.s780486.filter.toolbars.sampleCommand"
                  label="Configure Filter Command"
                  tooltip="Say hello world">
            </command>
            <command
                  commandId="de.bht.fpa.mail.s780486.filter.ClearFilterCommand"
                  label="Clear Filter Command"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bht.fpa.mail.s780486.filter.commands.category"
            name="Filter">
      </category>
      <command
            categoryId="de.bht.fpa.mail.s780486.filter.commands.category"
            id="de.bht.fpa.mail.s780486.filter.handlers.FilterDialogCommand"
            name="Configure Filter...">
      </command>
      <command
            categoryId="de.bht.fpa.mail.s780486.filter.commands.category"
            id="de.bht.fpa.mail.s780486.filter.ClearFilterCommand"
            name="Clear Filter">
      </command>
   </extension>

</plugin>
